<style type="text/css">
  table.flashSummary {
    padding: 0;
    border-collapse: collapse;
  }
  table.flashSummary th, td {
    text-align: left;
  }
  table.flashSummary th {
    padding: 1px 4px 5px 4px;
    font-weight: bold;
    vertical-align: middle;
    background-color: #ABD674;
  }
  table.flashSummary td {
    vertical-align: middle;
    border-top: none;
  }
  table.flashSummary td #cb_ups, table.flashSummary td #cb_fedex{
    float:left;
    margin-right:2px;
  }

  table.flashSummary tbody th {
    border-top: none;
    vertical-align: top;
  }
  table.flashSummary .bordered {
    border: 1px solid #9FA09F;
  }
  table.flashSummary .data {
    font-size: 1.3em;
    font-weight: bold;
    padding: 6px 0 6px 0;
    text-align: center;

  }
  table.flashSummary td.total_summary_data  {
    background-color: #d9f3b6;
  }
  .actionLink {
    height: 30px;
    margin-left: 160px !important;
    padding-top: 30px;
    width: auto;
  }
  table#allDetails .headerTop {
    border: 1px solid black;
    background-color: #ABD674;
  }

  table#allDetails tr {
    border-bottom: 1px solid black;
  }
  table#allDetails tr th,table#allDetails td{
    text-align: center;
  }
   table#allDetails .serviceSeparator {
    border-right: 1px solid black;
  }
  /*table#allDetails tr.odd {

  }*/
 /* table#allDetails tr td:nth-child(2),
  table#allDetails tr td:nth-child(6),
  table#allDetails tr td:nth-child(10),
  table#allDetails tr td:nth-child(14),
  table#allDetails tr td:nth-child(18){
    border-right: 1px solid #000;
  }*/

 /* table#allDetails tr th:nth-child(2),
  table#allDetails tr th:nth-child(6),
  table#allDetails tr th:nth-child(10),
  table#allDetails tr th:nth-child(14),
  table#allDetails tr th:nth-child(18){
    border-right: 1px solid #000;
  }*/

  table#allDetails tr.odd, table#allDetails tr.even{
    background:#FFF !important;
  }

  table#allDetails{
    width:106% !important;
  }


 
  td.oddColumn{
    background: #FFF;
  }

  /*#allDetails td:nth-child(1),
  #allDetails td:nth-child(2){
    background: #FFF;
  }*/
</style>


<div class="row">
    <div class="span16">
      <div class="page-header left">
          <h3 class="left">Features Flags <small><i> &nbsp; Checked services types will be available to the user<i></small></h3>
      </div>
      <div class="clearfix"></div>
    </div>
</div>


<div class="row">
    <div class="span16">
      <table id="allDetails" class="condensed-table" style="position: relative;">
          <thead>
            <tr>          
                <th colspan=4 class="bordered headerTop">Name</th>
                <% if Rails.env == "production" %>          
                  <th colspan=4 class="bordered headerTop">Enabled on Production</th>
                <% elsif Rails.env == "staging" %>
                  <th colspan=4 class="bordered headerTop">Enabled on Staging</th>   
                <% elsif Rails.env == "development" %>
                  <th colspan=4 class="bordered headerTop">Enabled on Development</th>
                <% else %>
                  <th colspan=4 class="bordered headerTop">Enabled on Idyllic</th>          
                <% end %>                         
            </tr>        
          </thead>
      
          <tbody>
            <% @features.each do |feature| %>
              <tr>              
                <td colspan=4 class="bordered"> <%= feature.name %> </td> 
                <td colspan=4 class="bordered">
                  <%= form_for feature, :as => :feature_flag, :url => feature_flag_url(feature), :method => :put, :html => {:class => "feature-flag-form"} do |f| %>  
                    <%= f.check_box Rails.env.to_s, :class => "feature-flag-toggle" %> 
                  <% end  %>                              
                </td>      
              </tr>           
            <% end %>
          </tbody>
      </table>
    </div>
</div>


<% content_for :page_javascript do %>
  <script>
    $(function(){
      $(".feature-flag-form").submit(function(e){
        e.preventDefault();

        var ajaxOptions = {
          url: $(this).attr("action"),
          type: "PUT",
          data: $(this).serialize()
        };

        var element = $(this).parent().parent();

        SS.Ajax.sendRequest(ajaxOptions, function(response){          
          if (response.status){
            $("#app_alerts").html("<div class='notice alert-message' data-alert='alert'><strong>Flag updated </strong></div>")
            element.effect("highlight", {color:"#8DC63F"}, 2000);
            window.setTimeout(function(){
              $("#app_alerts").html("");
            }, 3000);           
          }
          else{
            $("#app_alerts").html("<div class='error alert-error' data-alert='alert'><strong> Flag could not be updated <strong></div>")
            window.setTimeout(function(){
              $("#app_alerts").html("")
            }, 3000);           
          }
        });

      });

      $("body").delegate(".feature-flag-toggle", "click", function(e){        
        $(this).parent().submit()
      });
    });
  </script>
<% end %>